<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="server">
			<section name="access" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>	

	<server>
		<access>		
		<add key="ConnectionString" value="Persist Security Info=False;Integrated Security=False;database=LearningSuiteDB;server=(local);Connect Timeout=30;Integrated Security=SSPI" />
		</access>
	</server>
	<appSettings>
		<add key="mode" value="314" />
	</appSettings>
</configuration>
